.header {
    margin-bottom: 10px;
    text-align: center;
}

.heading {
    color: #455a64;
    margin-bottom: -1px;
}

.header img {
    width: 250px;
}
.header nav {
    background-color: black;
    text-align: center;
    line-height: 45px;
}

.header nav a {
    text-decoration: none;
    font-size: 22px;
    margin-right: 5px;
    padding: 7px 30px 9px 30px;
    color: #fff;
    transition: .4s;
}

.header nav a:hover {
    cursor: pointer;
    background-color: teal;
    
}