.teacher-name {
    background-color: #fff;
    color: #263238;
    font-size: 20px;
    padding: 4px;
    margin-left: 35px;
    font-weight: 600;    
}

.teacher-name:hover {
    cursor: pointer;
    color: #69b980;

}