.single-teacher img{
    height: 220px;
}

.single-teacher {
    transition: .4s;
}

.single-teacher:hover {
    box-shadow: 0 0 15px rgba(85, 85, 85, 0.534);
    transition: .5s;
}

.invite-btn {
    padding: 4px 20px;
    border: 3px solid crimson;
    background-color: crimson;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    transition: .4s;
}

.invite-btn:hover {
    cursor: pointer;
    background-color: #fff;
    color: crimson;
}